<launch>
	<!-- ARGS -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />
  <arg name="robot_name" default="tr2"/>

	<!-- PARAMS + ROSPARAMS -->
  <rosparam file="$(find tr2_hardware_interface)/config/hardware.yaml" command="load"/>
  <rosparam file="$(find tr2_hardware_interface)/config/controllers.yaml" command="load"/>

	<param name="robot_description" command="xacro --inorder $(find tr2_description)/robots/tr2.urdf.xacro" />

	<!-- INCLUDES -->


	<!-- NODES -->
  <node name="tr2_hardware_interface" pkg="tr2_hardware_interface" type="tr2_hardware_interface_node" output="screen" launch-prefix="$(arg launch_prefix)"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/"
		args="
			/tr2/controller/state
			/tr2/controller/effort/a0
			/tr2/controller/effort/a1
			/tr2/controller/effort/a2
			/tr2/controller/effort/a3
			/tr2/controller/effort/a4
			/tr2/controller/effort/h0
			/tr2/controller/effort/h1
		"/>

</launch>
