<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tr2">

	<xacro:property name="M_PI" value="3.141509" />

	<xacro:include filename="$(find tr2_description)/urdf/base/base.urdf.xacro"/>
	<!--<xacro:include filename="$(find tr2_description)/urdf/body/body.urdf.xacro"/>-->
	<xacro:include filename="$(find tr2_description)/urdf/head/head.urdf.xacro"/>
	<xacro:include filename="$(find tr2_description)/urdf/arm/arm.urdf.xacro"/>

	<gazebo>
		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
			<robotNamespace>/</robotNamespace>
			<robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
			<legacyModeNS>true</legacyModeNS>
		</plugin>
	</gazebo>

</robot>


